.text-center { text-align: center; }
.mt-40 { margin-top: 40px; }
.mt-60 { margin-top: 60px; }
.fz-2em { font-size: 2em; }
.pull-right { float: right; }
.clearfix { clear: both; }

body {
  background-image: url(./image.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.wrap {
  width: 500px;
  height: 500px;
  opacity: .83;
  border-radius: 10px;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate( -50%, -50%);
  box-shadow: 5px 5px 9px 0 #000;
}
.close {
  margin-right: 15px;
  margin-top: 15px; }
.brand {
  display: block;
  margin-left: auto;
  margin-right: auto; }
.brand svg {
  width: 150px; }
.gradient1 {
  color: red;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent), url(./image.jpg) no-repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  font-weight: 700; }
.form-control {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  border: 0;
  padding-left: 20px;
  border: 1px solid #ccc;
  background-color: rgba(0, 0, 0, 0.05);
  outline: 0;
  color: #51372B; }
.btn {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: 0;
  color: #fff;
  background: -webkit-linear-gradient(transparent, transparent), url(./image.jpg) no-repeat;
  font-weight: 700;
  font-weight: 1.1em; }
