h1 {
  text-align: center;
}

.center-block {
  margin: 0 auto;
  display: block;
}
.inline-block {
  display: inline-block;
}

.sign-up {
  max-width: 100%;
  width: 400px;
  position: relative;
  border: 1px solid #ccc;
}

.sign-up .title {
  height: 3em;
  background-color: #ff5c5c;
  color: #fff;
  font-size: 1.6em;
  line-height: 3em;
  text-align: center;
}
.title-icon {
  font-size: 2em;
  position: relative;
  top: 15px;
}
.text-shadow {
  text-shadow: 1px 2px 1px #666;
}

.sign-up .content {
  padding: 15px;
  width: 200px;
}

.form-control {
  width: 100%;
  border-radius: 5px;
  min-height: 40px;
  border: 1px solid #ccc;
  padding: 7px;
  margin-bottom: 15px;
  box-shadow: inset 1px 1px 4px #ccc;
}

.confirm {
  margin-bottom: 15px;
}

.btn {
  border: 0;
  background-color: #fff;
  color: #999;
}
.btn-circle {
  font-size: 1.5em;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  box-shadow: 3px 3px 5px 1px #858585;
}

.btn-circle:hover {
  border: 1px solid #ccc;
  box-shadow: 1px 1px 5px 0 #858585;
}
